<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>VueDo List</title>
  <meta name="description" content="Simple Vue.js todo list app with local storage support">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="app" id="app" v-cloak>
    <h1 class="app__title">Vue.js Todo List</h1>
    <div class="todo__filter">
      <input
        class="todo__field"
        type="search"
        v-model="query"
        placeholder="Search todo item..."
      />
    </div>
    <section>
      <div class="message message--info v-cloak--visible">
        Let me load your todos...
      </div>
      <div
        class="message message--info v-cloak--hidden"
        v-if="filteredList.length === 0"
      >
        This list is empty.
      </div>
      <transition-group
        appear
        name="fade"
        tag="ul"
        class="todo__list v-cloak--hidden"
        @before-enter="beforeEnter"
        @enter="enter"
        @leave="leave"
      >
        <li
          v-for="(item, i) in filteredList"
          :key="item.id"
          :data-index="i"
          :class="{
            'todo__item': true,
            'todo__item--done': item.done,
            'todo__item--edited': item.id === editedTodo,
          }"
        >
          <input
            v-show="editedTodo && item.id === editedTodo"
            type="text"
            class="todo__field todo__field--edit"
            v-model="item.task"
            @blur="handleEdit(item)"
            @keyup.enter="handleEdit(item)"
            @keyup.esc="cancelEdit(item)"
            v-focus="item.id === editedTodo"
          />
          <label
            class="todo__name"
            v-show="!editedTodo || (editedTodo && item.id !== editedTodo)"
          >
            <input
              class="todo__checkbox"
              type="checkbox"
              v-model="todos.find(r=>r.id === item.id).done" />
            {{item.task}}
          </label>
          <button
            class="btn btn--edit"
            aria-label="Edit todo item"
            @click="editTodo(item)"
          >
            <svg class="edit" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12">
              <path class="edit__path edit__board" d="m119.2,114.3h-109.4c-2.3,0-4.1,1.9-4.1,4.1s1.9,4.1 4.1,4.1h109.5c2.3,0 4.1-1.9 4.1-4.1s-1.9-4.1-4.2-4.1z"/>
              <path class="edit__path edit__pen" d="m5.7,78l-.1,19.5c0,1.1 0.4,2.2 1.2,3 0.8,0.8 1.8,1.2 2.9,1.2l19.4-.1c1.1,0 2.1-0.4 2.9-1.2l67-67c1.6-1.6 1.6-4.2 0-5.9l-19.2-19.4c-1.6-1.6-4.2-1.6-5.9-1.77636e-15l-13.4,13.5-53.6,53.5c-0.7,0.8-1.2,1.8-1.2,2.9zm71.2-61.1l13.5,13.5-7.6,7.6-13.5-13.5 7.6-7.6zm-62.9,62.9l49.4-49.4 13.5,13.5-49.4,49.3-13.6,.1 .1-13.5z"/>
            </svg>
          </button>
          <button class="btn btn--remove" @click="removeTodo(item)">&#10005;</button>
        </li>
      </transition-group>
    </section>
  </main>
  <footer class="page__footer">
    <div class="container">
      <p class="copyright">Made by <a class="copyright__link" href="https://zsolti.co" title="Zsolt Meszaros">Zsolt Meszaros</a> as part of his <a href="https://github.com/zsoltime/vue-basic-challenge" title="Vue Challenge">Vue Challenge</a> - Day&nbsp;#4</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>
</html>
